exportPattern("^[[:alpha:]]+")
import(raster)
import(rgdal)
import(ggplot2)
import(methods)
importFrom("graphics", "legend", "par")
importFrom("grDevices", "rgb")
importFrom("reshape2", "melt")
importFrom("stats", "na.omit")