exportPattern("^[[:alpha:]]+")
importFrom("stats", "na.omit")
importFrom("tidyr", "pivot_longer")
importFrom("tidyselect", "everything")
importFrom("rlang", ".data")
import(terra)
import(ggplot2)
import(methods)
importFrom("graphics", "legend", "par")
importFrom("grDevices", "rgb")